$resource-width: 266px;
$resource-margin: 18px 17px;
$resource-padding: 25px 20px;

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.card {
  background-color: $light-grey;
  padding: $resource-padding;
  margin: $resource-margin;

  &--resource {
    width: $resource-width;
  }
  &:nth-of-type(3n + 1) {
    margin-left: 0;
  }
  &-category {
    @include h4;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
  }
  &-dop {
    font-size: 0.88em;
    color: #898E93;
    letter-spacing: 0.74px;
    line-height: 21px;
  }
  &-summary {
    font-size: 0.88em;
    line-height: 20px;
    margin-top: 9px;
  }
  &-download {
    display: inline-block;
    text-decoration: none;
    color: $brand-primary;
    margin-top: 10px;
    font-size: 0.88em;
    padding-bottom: 4px;
    border-bottom: 1px solid $brand-primary;
  }
}
