.gallery {
  margin-bottom: 40px;
}
.gallery-title {
  font-weight: bold;
  font-size: 1.13em;
  letter-spacing: 0.9px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.gallery-images {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 20%;
    margin-bottom: 22px;
  }
}
