$marquee-innerwrapper-margin: 60px 40px;

.headline-marquee {
  background-color: $light-grey;
  display: flex;

  @media screen and (max-width: $screen-sm) {
    flex-direction: column;
  }

  &-image {
    background-size: cover;
    width: 55%;
    flex-shrink: 0;
    background-position: 50% 17%;
    @media screen and (max-width: $screen-sm) {
      height: 400px;
      width: 100%;
    }
  }

  &-text {
    h1 {
      @include h1;
      margin: 20px 0;
    }
    h2 {
      @include p;
      margin: 20px 0;
    }
  }
  &-caption {
    @include h4;
    display: flex;
    line-height: 1.5em;
    @media screen and (max-width: $screen-sm) {
      flex-direction: column;
    }
    a {
      text-decoration: none;
      color: $brand-secondary;
    }
  }
}
.marquee-text-innerwrapper {
  margin: $marquee-innerwrapper-margin;
  max-width: 400px;
}

