$marquee-innerwrapper-margin: 60px 40px;

.headline-marquee {
  height: 0;
  padding-bottom: 42%;
  background-color: $light-grey;
  display: flex;

  &-image {
    background-size: cover;
    width: 55%;
    padding-bottom: 42%;
    flex-shrink: 0;
  }

  &-text {
    padding-bottom: 42%;
    h1 {
      @include h1;
      margin: 20px 0;
    }
    h2 {
      @include p;
      margin: 20px 0;
    }
  }
  &-caption {
    @include h4;
    display: flex;
    line-height: 1.5em;
    a {
      color: $brand-secondary;
    }
  }
}
.marquee-text-innerwrapper {
  margin: $marquee-innerwrapper-margin;
  max-width: 400px;
}

