// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$max-width:             1050px;

// Colors
$brand-primary:         #131313; // black
$brand-secondary:       #B12915; // red
$alt-background:        #5B1005; // dark red
$dark-grey:             #777777;
$medium-grey:           #9B9B9B;
$light-grey:            #EFEFEF;
$white:                 #FFFFFF;
$link-underline-color:  #979797;

// Breakpoints
$screen-xs:             500px;
$screen-sm:             768px; // tablet view
$screen-md:             970px;
$screen-lg:             1440px;

// Fonts
$base-fontsize:         16;
$primary-font:          "Proxima-Nova", "Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
