$soapbox-bgcolor: #DEDCDC;
$soapbox-marquee-padding: 40px 0;
$soapbox-wrapper-margin:  45px 0;

// Hack to remove the first container in order to achieve full bleed in the content area on the soapbox page
.soapbox header ~ .wrap {
  display: none;
}
.soapbox-marquee {
  padding: $soapbox-marquee-padding;
  width: 100%;
  height: 316px;
  background-color: $soapbox-bgcolor;
  @media screen and ( max-width: $screen-sm ) {
    height: auto;
    padding-top: 80px;
  }
  &-innerwrapper {
    display: flex;
  }
  &-title {
    font-size: 1em;
    text-transform: uppercase;
    color: $brand-secondary;
    letter-spacing: 1px;
    margin-bottom: 25px;
    margin-top: 20px;
  }
  &-image {
    margin-right: 45px;
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
  .content {
    margin: 0;
  }
  p {
    font-size: 1.1em;
    line-height: 1.35em;
  }
}
.soapbox-wrapper {
  margin: $soapbox-wrapper-margin;
  article {
    margin-bottom: 33px;
  }
  article:nth-of-type(n + 2) {
    margin-top: 47px;
  }
}
.article-title {
  @include h2;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}
.article-date {
  font-size: 0.88em;
  margin-bottom: 34px;
}
.article-featured-image {
  margin-bottom: 34px;
  @media screen and ( max-width: $screen-sm ) {
    img {
      max-width: 100%;
    }
  }
}
.article-excerpt {
  font-size: 1em;
  line-height: 1.38em;
  margin-bottom: 20px;
}
